{% extends "base.html" %}

{% block title %}Тегированные страницы{% endblock title %}

{% block content %}
{% if tags %}
<table class="table table-bordered table-striped table-hover table-sm">
	<thead   class="thead-light">
			<tr>
				<th class="text-center">#</th>
				<th class="text-center">Тег</th>
				<th class="text-center">Количество статей</th>
			</tr>
		</thead>
		<tbody>
			{% for tag, pages in tags|dictsort %}
				<tr>
					<td class="text-center" >{{ loop.index }}</td>
					<td><a href="{{ url_for('wiki.tag', name=tag) }}">{{ tag }}</a></td>
					<td>{{ pages|length }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Пока нет тегов.</p>
{% endif %}
{% endblock content %}
